body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2; /* Add a background color for better visibility */
}

.basket-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center; /* Center the grid items horizontally */
  gap: 20px;
}

.card {
  width: 100%; /* Adjust the width to fill the container */
  background: #f7f9f9;
  padding: 10px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 20px;
}

.checkout-card {
  width: 25%; /* Adjust the width to fill the container */
  background: #f7f9f9;
  padding: 10px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 20px;
}

.card-title {
  font-size: 1.4em;
  font-weight: 800;
  margin-bottom: 10px; /* Add some spacing below the title */
}

.card-text {
  font-weight: 500;
}

.card-button {
  cursor: pointer;
  background-color: rgb(15, 20, 25);
  color: #f7f9f9;
  font-size: 1.15em;
  border: none;
  padding: 5px 15px;
  border-radius: 15px;
}

.card-button:hover {
  background-color: #272c30;
}
