.basket-container{
  position: realative;
  left: 20%;
  right: 20&;
}

.basket-card-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 350px;
  height: 160px;
  background: #f7f9f9;
  padding: 10px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.card-title {
  font-size: 1.4em;
  font-weight: 800;
}

.card-text {
  font-weight: 500;
}

.card-button {
  cursor: pointer;
  background-color: rgb(15, 20, 25);
  color: #f7f9f9;
  font-size: 1.15em;
  border: none;
  padding: 5px 15px;
  border-radius: 15px;
}

.card-button:hover {
  background-color: #272C30;
}
