h1{
  font-size: 60px;
  margin: 0;
  margin-left: 150px;
}

.contact-parent-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 125px;
}

.contact-banner {
  background-image: url(../images/contact_banner.png);
  background-size: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Align items vertically */
  align-items: center;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black; /* Add border */
  border-radius: 8px; /* Add border radius for rounded corners */
  padding: 20px; /* Add padding inside the container */
  margin: 20px auto; /* Center the container horizontally */
  max-width: 500px; /* Set maximum width for the container */
}

.banner-text{
  margin: 0;
  margin-left: -65%;
  color: white;
  font-size: 15PX;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.contact-form-row {
  display: flex;
  justify-content: flex-start;
}

.contact-form label {
  position: relative;
}

.contact-form label .input {
  width: 80%;
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.message-form input {
  width: 100%;
}

.contact-form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.contact-form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.contact-form label .input:focus + span, .contact-form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.contact-form label .input:valid + span {
  color: green;
}

.submit-button {
  width: 97%;
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: rgb(56, 90, 194);
}
