.health-benefit-container {
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 80px;
}

iframe{
  width: 670px;
  height: 375px;
}

#health-benefit-content-container {
  font-family: Arial, sans-serif;
}

#health-benefit-h1 {
  color: #333;
}

#health-benefit-h2 {
  color: #444;
}

#health-benefit-h3 {
  color: #666;
}

.health-benefit-text {
  color: black;
}

.health-benefit-container ul {
  list-style-type: disc;
  padding-left: 20px;
}
