.standing-desk-container{
  width: 60%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.standing-desk-text-container{
  padding: 50px;
}

.selector-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-selector-button{
  margin: 10px;
  cursor: pointer;
  background-color: #F5EEE6;
  color: #B0C5A4;
  font-weight: bolder;
  font-size: 13px;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  align-self: last baseline;
  height: 10px;
  width: 150px;
}

.page-selector-button:hover{
  cursor: pointer;
  background-color: #CCD3CA;
  color: black;
  font-weight: bolder;
}
